/*
Copyright DEPP © 2017 - Ministère de l'éducation nationale  
*/

/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.qti-customInteraction .berthold {
    text-align: center;
}

.qti-customInteraction .berthold .titre {
    text-align: center;
    font-size: 20px;
    font-style: bold;
}

.qti-customInteraction .berthold .hiddendiv {
    display: none;
}

.qti-customInteraction .berthold .cartes {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.qti-customInteraction .berthold .slot {
    padding: 10px;
    border: 1px grey solid;
    margin: 5px;
    float: left;
    height: 300px;
    width: 323px;
}

.qti-customInteraction .berthold .nav1 {
    margin-top: 0px;
}

.qti-customInteraction .berthold .nav2 {
    margin-top: 0px;
}

.qti-customInteraction .berthold .titre2 {
    color: darkorange;
    font-weight: bold;
    font-size: 1.3em;
}

.qti-customInteraction .berthold .precedent1 {}

.qti-customInteraction .berthold .precedent2 {}

.qti-customInteraction .berthold .precedent3 {}

.qti-customInteraction .berthold .precedent1:disabled {
    opacity: 0.6;
}

.qti-customInteraction .berthold .precedent2:disabled {
    opacity: 0.6;
}

.qti-customInteraction .berthold .precedent3:disabled {
    opacity: 0.6;
}

.qti-customInteraction .berthold .suivant1 {
    margin-left: 5px;
}

.qti-customInteraction .berthold .suivant2 {
    margin-left: 5px;
}

.qti-customInteraction .berthold .suivant3 {
    margin-left: 5px;
}

.qti-customInteraction .berthold .suivant1:disabled {
    opacity: 0.6;
}

.qti-customInteraction .berthold .suivant2:disabled {
    opacity: 0.6;
}

.qti-customInteraction .berthold .suivant3:disabled {
    opacity: 0.6;
}

.qti-customInteraction .berthold .polo {
    width: 325px;
}

.qti-customInteraction .berthold .anima1 {
    margin-top: -151px;
    width: 280px;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
}

.qti-customInteraction .berthold .anima3 {
    opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
}

.qti-customInteraction .berthold .anima4 {
    margin-top: -165px;
    width: 295px!important;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
}

.qti-customInteraction .berthold .anima5 {
    opacity: 0;
    width: 295px;
    margin-top: -180px;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
}

.qti-customInteraction .berthold .anima6 {
    opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
}

.qti-customInteraction .berthold .anima8 {
    margin-top: -182px;
    margin-left: -12px;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
}

.qti-customInteraction .berthold .anima9 {
    margin-top: -179px;
    margin-left: -8px;
    opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
}

.qti-customInteraction .berthold .anima11 {
    margin-top: -4px;
    opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
}
