/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

/* Wiquid 
svg{width: 790px; height: 500px; background-color: #555; border: 5px solid #AAA;}*/

.circuit #btinsttext{   
    font-size: 15px;
    cursor: pointer;
    font-size: 15px opacity:1;
    margin-left: 570px;
    border: grey 1px solid;
    padding: 5px;
    text-align: center;
    background-color: yellowgreen;
}

.circuit #btinsttext:hover{
    opacity:0.7;
}

.circuit #btinst{  
    width: 790px;
    margin-top: -44px;
    font-weight: bold;
    padding: 10px;
    left: 672px;
    color: darkslategray;
}

.circuit #fermer{
    cursor: pointer;
    color: yellowgreen;
    text-align: right;
}

.circuit #fermer:hover{opacity:0.7;}

.circuit #wrapinstruct{ 
    padding-top: 80px;
    margin-top: -496px;
    position: relative;
    width: 790px;
}

.circuit #instruct{
    font-size: 15px;
    width: 700px;
    background-color: #555;
    color: white;
    margin-left: 40px;
    border: 1px white solid;
    padding: 20px;
    }



.circuit #calque2{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    display:none;
}

.circuit #simspace{width: 790px; height: 500px; background-color: #555; border: 5px solid #AAA;}

/* reset for these elements */
/* html, body, p {  padding: 0;  margin: 0;  font-size: 100%;  font-weight: normal;  font-style: normal; }
table { font-size: 1em; }
img { border: 0; }


basic styles
html, body { line-height: 1.0; height: 100%; font-family: Arial, Helvetica, sans-serif; } */
/* 
h1,.circuit h2, h3, h4, h5, h6 { font-family: Georgia, serif; font-weight: bold; font-style: normal; padding: 0; line-height: 1.5em; }
h1 { font-size: 1.75em; margin: 1em 0; color: #666; }
.circuit h2 { font-size: 1.25em;  margin: 2em 0 1em 0; font-style: italic; color: #888; }
h3 { font-size: 1.1em; margin: 3em 0 1em 0;  }
h4 { font-size: .9em;  margin: 1em 0; }
h1 + h2 { margin-top: 1em; }
h2 + h3 { margin-top: 1em; } */

/* pre {
  same as stackoverflow.com, so if it's good enough for them....
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  font-size: 80%;
}

anchor (and input hover) styles
a { color: #0040DF; }
a:hover, input:hover, textarea:hover { background-color: #DDDDFF; }  */


/* form styles */

/* label { display: block; margin-bottom: 4px; font-size: 110%; }
label.inline { display: inline; } */
/* form li, .form li { list-style: none; padding-top: 10px; font-size: 90%;  } */


/* table styles */
/* table { border-spacing: 0; border-collapse: collapse; margin: 1em; }
td, th { border: 1px #888 solid; padding: 6px; margin: 0px; }
th, tr.head { font-weight: bold; background-color: #EEEEEE; } */


.circuit .bold { font-weight: bold; }


/* special styles */
.circuit .highlightcolor { background-color: #DDFFDD; }
.circuit .clear { clear: both; }
.circuit .warn { padding: 1em; border: 1px solid #F00; background-color: #FDD; font-weight: bold; }
.circuit pre.code { padding: 1em; border: 1px solid #DDD; border-left-width: 1em; overflow: hidden; }
.circuit pre:hover { overflow: visible; border-right: none; }
.circuit .tutorial h2 { clear: both; }
.circuit .tutorial h3 { clear: both; border-bottom: 5px solid #DDD; }


.circuit #circuit ol.compact li, #circuit ul.compact  { margin-top: 0; margin-bottom: 0; }


/* main layout structure and styling: header, circuit, and footer */

.circuit {
  height: 600px;
  width: 90%;
  max-width: 650px;
  min-width: 250px;
 /*  margin: 0 auto 0 auto; */
  line-height: 1.4em;
  margin-bottom: 1.25em;
}

.circuit #circuit div.sidecaption {
  clear: right;
  float: right;
  margin: 0 0 1em 1em;
}

.circuit #circuit div.widecaption {
  clear: both;
  margin: 1em auto;
}

.circuit #circuit div.mini_sidecaption{
  float: left;
  border-right: 1em #DDD solid;
  margin: 0 1em 1em 0;
}

.circuit #circuit div.sidecaption p, #circuit div.widecaption p, #circuit div.mini_sidecaption p {
  text-align: left;
  font-size: 0.75em;
  margin: 0.5em 0 1em 0;
}

.circuit #circuit div.widecaption p {
  text-align: center;
}

.circuit #circuit ul, ol {
  padding-left: 1em;
  margin-left: 1em;
}
.circuit #circuit ol li, #circuit ul li  {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.qti-customInteraction .likertScaleInteraction{
    width:100%;
    padding:10px 20px 16px;
}

.qti-customInteraction .likertScaleInteraction ul.likert{
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
    display:inline-block;
    position: relative;
    top:7px;
}

.qti-customInteraction .likertScaleInteraction ul.likert li{
    float: left;
    text-align: left;
    list-style-type: none;
}

.qti-customInteraction .likertScaleInteraction ul.likert li input{margin: 0 3px; cursor: pointer;}

.qti-customInteraction .likertScaleInteraction .prompt {position:relative;}

.qti-customInteraction .likertScaleInteraction .likert-label {min-width:90px; color: #444;}
.qti-customInteraction .likertScaleInteraction .likert-label-min {text-align: right;}
.qti-customInteraction .likertScaleInteraction .likert-label-max {text-align: left;}