/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

#ansrdm{display:none;}



.qti-customInteraction .relatem{
    width:100%;
    padding:10px 20px 16px;
}

.qti-customInteraction .relatem ul.likert{
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
    display:inline-block;
    position: relative;
    top:7px;
}

.qti-customInteraction .relatem ul.likert li{
    float: left;
    text-align: left;
    list-style-type: none;
}

.qti-customInteraction .relatem ul.likert li input{margin: 0 3px; cursor: pointer;}

.qti-customInteraction .relatem .prompt {
    position:relative;
    display:none;
}

.qti-customInteraction .relatem .likert-label {min-width:90px; color: #444;}
.qti-customInteraction .relatem .likert-label-min {text-align: right;}
.qti-customInteraction .relatem .likert-label-max {text-align: left;}

.relatem #container{
    overflow: hidden;
    width : 960px;
}

.relatem #activVF:hover{
    background-color: orange;
    cursor: pointer;
    opacity: 0.8;}

.relatem #activVF{
    height: 95px;
    background-image: url(img/btfille.png);
    background-repeat: no-repeat;
    width: 123px;
}

.relatem #activG:hover{
    background-color: orange;
    cursor: pointer;
    opacity: 0.8;}

.relatem #activG{
    background-image: url("img/btgars.png");
    height: 95px;
    background-repeat: no-repeat;
    width: 123px;
}
.relatem #activGlobal:hover{
    background-color: orange;
    cursor: pointer;
    opacity: 0.8;}

.relatem #activGlobal{
    background-image: url("img/btglob.png");
    height: 95px;
    background-repeat: no-repeat;
    width: 150px;
}

.relatem #cactus{ height :366px;
 position:absolute; 
 left:10px; 
 }

.relatem #bggars{
    position:absolute;
    height : 366px;
}

.relatem #commande{
    position: absolute;
    margin-top: 400px;
    text-align: center;
    width : 700px;}

.relatem #commande img{
   height :85px;
}


.relatem #imgline{
height : 30px;    
width : 150px;
}

.relatem #commande table{
    width : 450px;
    margin-left: auto;
    margin-right: auto;
}

.relatem #vuegars{
background-image:  url("img/bgvueg.png");
background-repeat: no-repeat;   
width : 650px!important;
display: none;
overflow: hidden;
}

.relatem #vueglobale{
width : 650px!important;
height : 366px;
background-image: url("img/globale.png");   
position:absolute;
}

.relatem #vueglobale img{ 
width : 700px;
 }

.relatem .vfimg{
    position:absolute;
    height : 366px!important;
    max-width : 1512px!important;
    margin-left :-1250px;
    -webkit-animation: goguy 3s linear;
    -webkit-animation-fill-mode : forwards;
}

.relatem #vuefille{
    position:absolute;
    display: none;
    width: 700px;
    height:530px;
    overflow: hidden;
}


.relatem .vue{   
border : none!important;
position:absolute;
opacity: 0;
}
.relatem .vue:hover{ 
opacity: 0.4;
}

.relatem td{border : 2px grey solid;}


.relatem.legende{
    font-family: arial;
    font-size: 0.8em;
}

.relatem rect{
    /* fill:red!important; */
    animation-name: colored;
    animation-duration: 3s;
    animation-iteration-count: 6;
}
/* Translation de la moto */
@-webkit-keyframes gomoto {
    from{
        -webkit-transform: translate(-500px);
          -moz-transform: translate(-500px);
    }
    to{
        -webkit-transform: translate(920px);
        -moz-transform: translate(920px);
    }
}

@-webkit-keyframes goguy {
    from{
        -webkit-transform: translate(420px);
    }
    to{
        -webkit-transform: translate(1250px);
    }
}



/* Rotation des roues */
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);

    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.relatem #roue {
  -webkit-animation: rotating 0.5s linear infinite;
  transform-origin: 50% ;
} 
.relatem #roue2 {
  -webkit-animation: rotating 0.5s linear infinite;
  transform-origin: 50% ;
}

@-moz-keyframes rotating {
    from{
        -moz-transform: rotate(0deg);

    }
    to{
        -moz-transform: rotate(360deg);
    }
}

.relatem #roue {
  -moz-animation: rotating 0.5s linear infinite;
  transform-origin: 50% ;
} 
.relatem #roue2 {
  -moz-animation: rotating 0.5s linear infinite;
  transform-origin: 50% ;
}



.relatem #moto {
    top:15px;
    width : 400px;
    height : 400px;
}

.relatem #roue{
    top : 256px;
    left : 263px!important;
    width : 110px;
    height : 110px;
}
.relatem #roue2{
     width : 110px;
    height : 110px;
}


.relatem #contanim{
    background-repeat: no-repeat;
    width : 700px;
    top:-26px;
    position : absolute;
    -moz-animation: gomoto 3s linear ;  
    -moz-animation-fill-mode : forwards;    
    -webkit-animation: gomoto 3s linear ;  
    -webkit-animation-fill-mode : forwards; 
}

.relatem #roue{ position : absolute;
    top:274px;
    left : 327px;
    z-index: 0;
 }

.relatem #roue2{ position : absolute; 
    top:274px;
    left : 35px;
    z-index: 0;
}
.relatem #moto{
    position : absolute; 
    z-index: 2;
}

.relatem #vuegars{
     position : absolute; 
    height : 540px;
    width :960px;
    overflow: hidden;
}

.relatem{
    width : 960px;
    height : 520px;
}

