/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#dt/dt-1.10.18/cr-1.5.0/kt-2.4.0/r-2.2.2/rg-1.0.3/sl-1.2.6
 *
 * Included libraries:
 *   DataTables 1.10.18, ColReorder 1.5.0, KeyTable 2.4.0, Responsive 2.2.2, RowGroup 1.0.3, Select 1.2.6
 */

/*
 * Table styles
 */
.explo table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}
.explo table.dataTable thead th,
.explo table.dataTable tfoot th {
  font-weight: bold;
}
.explo table.dataTable thead th,
.explo table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}
.explo table.dataTable thead th:active,
.explo table.dataTable thead td:active {
  outline: none;
}
.explo table.dataTable tfoot th,
.explo table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}
.explo table.dataTable thead .sorting,
.explo table.dataTable thead .sorting_asc,
.explo table.dataTable thead .sorting_desc,
.explo table.dataTable thead .sorting_asc_disabled,
.explo table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}
.explo table.dataTable thead .sorting {
  background-image: url("img/sort_both.png");
}
.explo table.dataTable thead .sorting_asc {
  background-image: url("img/sort_asc.png");
}
.explo table.dataTable thead .sorting_desc {
  background-image: url("img/sort_desc.png");
}
.explo table.dataTable thead .sorting_asc_disabled {
  background-image: url("img/sort_asc_disabled.png");
}
.explo table.dataTable thead .sorting_desc_disabled {
  background-image: url("img/sort_desc_disabled.png");
}
.explo table.dataTable tbody tr {
  background-color: #ffffff;
}
.explo table.dataTable tbody tr.selected {
  background-color: #B0BED9;
}
.explo table.dataTable tbody th,
.explo table.dataTable tbody td {
  padding: 8px 10px;
}
.explo table.dataTable.row-border tbody th, .explo table.dataTable.row-border tbody td, .explo table.dataTable.display tbody th, .explo table.dataTable.display tbody td {
  border-top: 1px solid #ddd;
}
.explo table.dataTable.row-border tbody tr:first-child th,
.explo table.dataTable.row-border tbody tr:first-child td, .explo table.dataTable.display tbody tr:first-child th,
.explo table.dataTable.display tbody tr:first-child td {
  border-top: none;
}
.explo table.dataTable.cell-border tbody th, .explo table.dataTable.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.explo table.dataTable.cell-border tbody tr th:first-child,
.explo table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd;
}
.explo table.dataTable.cell-border tbody tr:first-child th,
.explo table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}
.explo table.dataTable.stripe tbody tr.odd, .explo table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}
.explo table.dataTable.stripe tbody tr.odd.selected, .explo table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4;
}
.explo table.dataTable.hover tbody tr:hover, .explo table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6;
}
.explo table.dataTable.hover tbody tr:hover.selected, .explo table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1;
}
.explo table.dataTable.order-column tbody tr > .sorting_1,
.explo table.dataTable.order-column tbody tr > .sorting_2,
.explo table.dataTable.order-column tbody tr > .sorting_3, .explo table.dataTable.display tbody tr > .sorting_1,
.explo table.dataTable.display tbody tr > .sorting_2,
.explo table.dataTable.display tbody tr > .sorting_3 {
  background-color: #fafafa;
}
.explo table.dataTable.order-column tbody tr.selected > .sorting_1,
.explo table.dataTable.order-column tbody tr.selected > .sorting_2,
.explo table.dataTable.order-column tbody tr.selected > .sorting_3, .explo table.dataTable.display tbody tr.selected > .sorting_1,
.explo table.dataTable.display tbody tr.selected > .sorting_2,
.explo table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5;
}
.explo table.dataTable.display tbody tr.odd > .sorting_1, .explo table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}
.explo table.dataTable.display tbody tr.odd > .sorting_2, .explo table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}
.explo table.dataTable.display tbody tr.odd > .sorting_3, .explo table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}
.explo table.dataTable.display tbody tr.odd.selected > .sorting_1, .explo table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}
.explo table.dataTable.display tbody tr.odd.selected > .sorting_2, .explo table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}
.explo table.dataTable.display tbody tr.odd.selected > .sorting_3, .explo table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}
.explo table.dataTable.display tbody tr.even > .sorting_1, .explo table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fafafa;
}
.explo table.dataTable.display tbody tr.even > .sorting_2, .explo table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fcfcfc;
}
.explo table.dataTable.display tbody tr.even > .sorting_3, .explo table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fefefe;
}
.explo table.dataTable.display tbody tr.even.selected > .sorting_1, .explo table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}
.explo table.dataTable.display tbody tr.even.selected > .sorting_2, .explo table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}
.explo table.dataTable.display tbody tr.even.selected > .sorting_3, .explo table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}
.explo table.dataTable.display tbody tr:hover > .sorting_1, .explo table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea;
}
.explo table.dataTable.display tbody tr:hover > .sorting_2, .explo table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ececec;
}
.explo table.dataTable.display tbody tr:hover > .sorting_3, .explo table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #efefef;
}
.explo table.dataTable.display tbody tr:hover.selected > .sorting_1, .explo table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7;
}
.explo table.dataTable.display tbody tr:hover.selected > .sorting_2, .explo table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9;
}
.explo table.dataTable.display tbody tr:hover.selected > .sorting_3, .explo table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb;
}
.explo table.dataTable.no-footer {
  border-bottom: 1px solid #111;
}
.explo table.dataTable.nowrap th, .explo table.dataTable.nowrap td {
  white-space: nowrap;
}
.explo table.dataTable.compact thead th,
.explo table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px;
}
.explo table.dataTable.compact tfoot th,
.explo table.dataTable.compact tfoot td {
  padding: 4px;
}
.explo table.dataTable.compact tbody th,
.explo table.dataTable.compact tbody td {
  padding: 4px;
}
.explo table.dataTable th.dt-left,
.explo table.dataTable td.dt-left {
  text-align: left;
}
.explo table.dataTable th.dt-center,
.explo table.dataTable td.dt-center,
.explo table.dataTable td.dataTables_empty {
  text-align: center;
}
.explo table.dataTable th.dt-right,
.explo table.dataTable td.dt-right {
  text-align: right;
}
.explo table.dataTable th.dt-justify,
.explo table.dataTable td.dt-justify {
  text-align: justify;
}
.explo table.dataTable th.dt-nowrap,
.explo table.dataTable td.dt-nowrap {
  white-space: nowrap;
}
.explo table.dataTable thead th.dt-head-left,
.explo table.dataTable thead td.dt-head-left,
.explo table.dataTable tfoot th.dt-head-left,
.explo table.dataTable tfoot td.dt-head-left {
  text-align: left;
}
.explo table.dataTable thead th.dt-head-center,
.explo table.dataTable thead td.dt-head-center,
.explo table.dataTable tfoot th.dt-head-center,
.explo table.dataTable tfoot td.dt-head-center {
  text-align: center;
}
.explo table.dataTable thead th.dt-head-right,
.explo table.dataTable thead td.dt-head-right,
.explo table.dataTable tfoot th.dt-head-right,
.explo table.dataTable tfoot td.dt-head-right {
  text-align: right;
}
.explo table.dataTable thead th.dt-head-justify,
.explo table.dataTable thead td.dt-head-justify,
.explo table.dataTable tfoot th.dt-head-justify,
.explo table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}
.explo table.dataTable thead th.dt-head-nowrap,
.explo table.dataTable thead td.dt-head-nowrap,
.explo table.dataTable tfoot th.dt-head-nowrap,
.explo table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
.explo table.dataTable tbody th.dt-body-left,
.explo table.dataTable tbody td.dt-body-left {
  text-align: left;
}
.explo table.dataTable tbody th.dt-body-center,
.explo table.dataTable tbody td.dt-body-center {
  text-align: center;
}
.explo table.dataTable tbody th.dt-body-right,
.explo table.dataTable tbody td.dt-body-right {
  text-align: right;
}
.explo table.dataTable tbody th.dt-body-justify,
.explo table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}
.explo table.dataTable tbody th.dt-body-nowrap,
.explo table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

.explo table.dataTable,
.explo table.dataTable th,
.explo table.dataTable td {
  box-sizing: content-box;
}

/*
 * Control feature layout
 */
.explo .dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.explo .dataTables_wrapper .dataTables_length {
  float: left;
}
.explo .dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.explo .dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.explo .dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.explo .dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.explo .dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.explo .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}
.explo .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.explo .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
}
.explo .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
.explo .dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
.explo .dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}
.explo .dataTables_wrapper .dataTables_length,
.explo .dataTables_wrapper .dataTables_filter,
.explo .dataTables_wrapper .dataTables_info,
.explo .dataTables_wrapper .dataTables_processing,
.explo .dataTables_wrapper .dataTables_paginate {
  color: #333;
}
.explo .dataTables_wrapper .dataTables_scroll {
  clear: both;
}
.explo .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.explo .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th,
.explo .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td,
.explo .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th,
.explo .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
  vertical-align: middle;
}
.explo .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th>div.dataTables_sizing,
.explo .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td>div.dataTables_sizing,
.explo .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th>div.dataTables_sizing,
.explo .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td>div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.explo .dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111;
}
.explo .dataTables_wrapper.no-footer div.dataTables_scrollHead .explo table.dataTable,
.explo .dataTables_wrapper.no-footer div.dataTables_scrollBody>table {
  border-bottom: none;
}
.explo .dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .explo .dataTables_wrapper .dataTables_info,
  .explo .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .explo .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .explo .dataTables_wrapper .dataTables_length,
  .explo .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .explo .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}


.explo table.DTCR_cloned.explo table.dataTable {
  position: absolute !important;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 202;
}

.explo div.DTCR_pointer {
  width: 1px;
  background-color: #0259C4;
  z-index: 201;
}


.explo table.dataTable tbody th.focus,
.explo table.dataTable tbody td.focus {
  box-shadow: inset 0 0 1px 2px #3366FF;
}


.explo table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
.explo table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
.explo table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  cursor: default !important;
}
.explo table.dataTable.dtr-inline.collapsed > tbody > tr > td.child:before,
.explo table.dataTable.dtr-inline.collapsed > tbody > tr > th.child:before,
.explo table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty:before {
  display: none !important;
}
.explo table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
.explo table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.explo table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
.explo table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  top: 9px;
  left: 4px;
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #31b131;
}
.explo table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
.explo table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  content: '-';
  background-color: #d33333;
}
.explo table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child,
.explo table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
  padding-left: 27px;
}
.explo table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
.explo table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 14px;
  text-indent: 3px;
}
.explo table.dataTable.dtr-column > tbody > tr > td.control,
.explo table.dataTable.dtr-column > tbody > tr > th.control {
  position: relative;
  cursor: pointer;
}
.explo table.dataTable.dtr-column > tbody > tr > td.control:before,
.explo table.dataTable.dtr-column > tbody > tr > th.control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #31b131;
}
.explo table.dataTable.dtr-column > tbody > tr.parent td.control:before,
.explo table.dataTable.dtr-column > tbody > tr.parent th.control:before {
  content: '-';
  background-color: #d33333;
}
.explo table.dataTable > tbody > tr.child {
  padding: 0.5em 1em;
}
.explo table.dataTable > tbody > tr.child:hover {
  background: transparent !important;
}
.explo table.dataTable > tbody > tr.child ul.dtr-details {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.explo table.dataTable > tbody > tr.child ul.dtr-details > li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}
.explo table.dataTable > tbody > tr.child ul.dtr-details > li:first-child {
  padding-top: 0;
}
.explo table.dataTable > tbody > tr.child ul.dtr-details > li:last-child {
  border-bottom: none;
}
.explo table.dataTable > tbody > tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}

.explo div.dtr-modal {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 10em 1em;
}
.explo div.dtr-modal div.dtr-modal-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  z-index: 102;
  overflow: auto;
  background-color: #f5f5f7;
  border: 1px solid black;
  border-radius: 0.5em;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}
.explo div.dtr-modal div.dtr-modal-content {
  position: relative;
  padding: 1em;
}
.explo div.dtr-modal div.dtr-modal-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 22px;
  height: 22px;
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 12;
}
.explo div.dtr-modal div.dtr-modal-close:hover {
  background-color: #eaeaea;
}
.explo div.dtr-modal div.dtr-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 767px) {
  .explo div.dtr-modal div.dtr-modal-display {
    width: 95%;
  }
}


.explo table.dataTable tr.group td {
  font-weight: bold;
  background-color: #e0e0e0;
}


.explo table.dataTable tbody > tr.selected,
.explo table.dataTable tbody > tr > .selected {
  background-color: #B0BED9;
}
.explo table.dataTable.stripe tbody > tr.odd.selected,
.explo table.dataTable.stripe tbody > tr.odd > .selected, .explo table.dataTable.display tbody > tr.odd.selected,
.explo table.dataTable.display tbody > tr.odd > .selected {
  background-color: #acbad4;
}
.explo table.dataTable.hover tbody > tr.selected:hover,
.explo table.dataTable.hover tbody > tr > .selected:hover, .explo table.dataTable.display tbody > tr.selected:hover,
.explo table.dataTable.display tbody > tr > .selected:hover {
  background-color: #aab7d1;
}
.explo table.dataTable.order-column tbody > tr.selected > .sorting_1,
.explo table.dataTable.order-column tbody > tr.selected > .sorting_2,
.explo table.dataTable.order-column tbody > tr.selected > .sorting_3,
.explo table.dataTable.order-column tbody > tr > .selected, .explo table.dataTable.display tbody > tr.selected > .sorting_1,
.explo table.dataTable.display tbody > tr.selected > .sorting_2,
.explo table.dataTable.display tbody > tr.selected > .sorting_3,
.explo table.dataTable.display tbody > tr > .selected {
  background-color: #acbad5;
}
.explo table.dataTable.display tbody > tr.odd.selected > .sorting_1, .explo table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}
.explo table.dataTable.display tbody > tr.odd.selected > .sorting_2, .explo table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}
.explo table.dataTable.display tbody > tr.odd.selected > .sorting_3, .explo table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}
.explo table.dataTable.display tbody > tr.even.selected > .sorting_1, .explo table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}
.explo table.dataTable.display tbody > tr.even.selected > .sorting_2, .explo table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}
.explo table.dataTable.display tbody > tr.even.selected > .sorting_3, .explo table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}
.explo table.dataTable.display tbody > tr.odd > .selected, .explo table.dataTable.order-column.stripe tbody > tr.odd > .selected {
  background-color: #a6b4cd;
}
.explo table.dataTable.display tbody > tr.even > .selected, .explo table.dataTable.order-column.stripe tbody > tr.even > .selected {
  background-color: #acbad5;
}
.explo table.dataTable.display tbody > tr.selected:hover > .sorting_1, .explo table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_1 {
  background-color: #a2aec7;
}
.explo table.dataTable.display tbody > tr.selected:hover > .sorting_2, .explo table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_2 {
  background-color: #a3b0c9;
}
.explo table.dataTable.display tbody > tr.selected:hover > .sorting_3, .explo table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_3 {
  background-color: #a5b2cb;
}
.explo table.dataTable.display tbody > tr:hover > .selected,
.explo table.dataTable.display tbody > tr > .selected:hover, .explo table.dataTable.order-column.hover tbody > tr:hover > .selected,
.explo table.dataTable.order-column.hover tbody > tr > .selected:hover {
  background-color: #a2aec7;
}
.explo table.dataTable tbody td.select-checkbox,
.explo table.dataTable tbody th.select-checkbox {
  position: relative;
}
.explo table.dataTable tbody td.select-checkbox:before, .explo table.dataTable tbody td.select-checkbox:after,
.explo table.dataTable tbody th.select-checkbox:before,
.explo table.dataTable tbody th.select-checkbox:after {
  display: block;
  position: absolute;
  top: 1.2em;
  left: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.explo table.dataTable tbody td.select-checkbox:before,
.explo table.dataTable tbody th.select-checkbox:before {
  content: ' ';
  margin-top: -6px;
  margin-left: -6px;
  border: 1px solid black;
  border-radius: 3px;
}
.explo table.dataTable tr.selected td.select-checkbox:after,
.explo table.dataTable tr.selected th.select-checkbox:after {
  content: '\2714';
  margin-top: -11px;
  margin-left: -4px;
  text-align: center;
  text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
}

.explo div.dataTables_wrapper span.select-info,
.explo div.dataTables_wrapper span.select-item {
  margin-left: 0.5em;
}

@media screen and (max-width: 640px) {
  .explo div.dataTables_wrapper span.select-info,
  .explo div.dataTables_wrapper span.select-item {
    margin-left: 0;
    display: block;
  }
}

.explo .richText {
  position: relative;
  background-color: #FAFAFA;
  border: #EFEFEF solid 1px;
  color: #333333;
  width: 100%;
}

.explo .richText .richText-form {
  font-family: Calibri, Verdana, Helvetica, sans-serif;
}

.explo .richText .richText-form label {
  display: block;
  padding: 10px 15px;
}

.explo .richText .richText-form input[type="text"],
.explo .richText .richText-form input[type="file"],
.explo .richText .richText-form input[type="number"],
.explo .richText .richText-form select {
  padding: 10px 15px;
  border: #999999 solid 1px;
  min-width: 200px;
  width: 100%;
}

.explo .richText .richText-form select {
  cursor: pointer;
}

.explo .richText .richText-form button {
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #3498db;
  border: none;
  color: #FAFAFA;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.explo .richText .richText-toolbar {
  min-height: 20px;
  border-bottom: #EFEFEF solid 1px;
}

.explo .richText .richText-toolbar ul li {
  float: left;
  display: block;
  list-style: none;
}

.explo .richText .richText-toolbar ul li a {
  display: block;
  padding: 10px 13px;
  border-right: #EFEFEF solid 1px;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.explo .richText .richText-toolbar ul li a .fa,
.explo .richText .richText-toolbar ul li a .fas,
.explo .richText .richText-toolbar ul li a .far,
.explo .richText .richText-toolbar ul li a svg {
  pointer-events: none;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer .richText-dropdown {
  position: relative;
  display: block;
  margin: 3% auto 0 auto;
  background-color: #FAFAFA;
  border: #EFEFEF solid 1px;
  min-width: 100px;
  width: 300px;
  max-width: 90%;
  -webkit-box-shadow: 0 0 5px 0 #333;
  -moz-box-shadow: 0 0 5px 0 #333;
  box-shadow: 0 0 5px 0 #333;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer .richText-dropdown .richText-dropdown-close {
  position: absolute;
  top: 0;
  right: -23px;
  background: #FFF;
  color: #333;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  width: 20px;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown {
  list-style: none;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li {
  display: block;
  float: none;
  font-family: Calibri, Verdana, Helvetica, sans-serif;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li a {
  display: block;
  padding: 10px 15px;
  border-bottom: #EFEFEF solid 1px;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li a:hover {
  background-color: #FFFFFF;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li.inline {
  margin: 10px 6px;
  float: left;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li.inline a {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 0 #999;
  -moz-box-shadow: 0 0 10px 0 #999;
  box-shadow: 0 0 10px 0 #999;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li.inline a span {
  display: block;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.explo .richText .richText-toolbar ul li a .richText-dropdown-outer div.richText-dropdown {
  padding: 10px 15px;
}

.explo .richText .richText-toolbar ul li a:hover {
  background-color: #FFFFFF;
}

.explo .richText .richText-toolbar ul li[data-disable="true"] {
  opacity: 0.1;
}

.richText .richText-toolbar ul li[data-disable="true"] a {
  cursor: default;
}

.explo .richText .richText-toolbar ul li:not([data-disable="true"]).is-selected .richText-dropdown-outer {
  display: block;
}

.explo .richText .richText-toolbar ul:after {
  display: block;
  content: "";
  clear: both;
}

.explo .richText .richText-toolbar:last-child {
  font-size: 12px;
}

.explo .richText .richText-toolbar:after {
  display: block;
  clear: both;
  content: "";
}

.explo .richText .richText-editor {
  padding: 20px;
  background-color: #FFFFFF;
  border-left: #FFFFFF solid 2px;
  font-family: Calibri, Verdana, Helvetica, sans-serif;
  height: 300px;
  outline: none;
  overflow-y: scroll;
  overflow-x: auto;
}

.explo .richText .richText-editor ul,
.explo .richText .richText-editor ol {
  margin: 10px 25px;
}

.explo .richText .richText-editor table {
  margin: 10px 0;
  border-spacing: 0;
  width: 100%;
}

.explo .richText .richText-editor table td,
.explo .richText .richText-editor table th {
  padding: 10px;
  border: #EFEFEF solid 1px;
}

.explo .richText .richText-editor:focus {
  border-left: #3498db solid 2px;
}

.explo .richText .richText-initial {
  margin-bottom: -4px;
  padding: 10px;
  background-color: #282828;
  border: none;
  color: #33FF33;
  font-family: Monospace, Calibri, Verdana, Helvetica, sans-serif;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 400px;
  height: 400px;
}

.explo .richText .richText-help {
  float: right;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
}

.explo .richText .richText-undo,
.richText .richText-redo {
  float: left;
  display: block;
  padding: 10px 15px;
  border-right: #EFEFEF solid 1px;
  cursor: pointer;
}

.explo .richText .richText-undo.is-disabled,
.explo .richText .richText-redo.is-disabled {
  opacity: 0.4;
}

.explo .richText .richText-help-popup a {
  color: #3498db;
  text-decoration: underline;
}

.explo .richText .richText-help-popup hr {
  margin: 10px auto 5px auto;
  border: none;
  border-top: #EFEFEF solid 1px;
}

.explo .richText .richText-list.list-rightclick {
  position: absolute;
  background-color: #FAFAFA;
  border-right: #EFEFEF solid 1px;
  border-bottom: #EFEFEF solid 1px;
}

.explo .richText .richText-list.list-rightclick li {
  padding: 5px 7px;
  cursor: pointer;
  list-style: none;
}
/********Context Menu**********/
.explo .contextmenu {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow: 0 15px 35px rgba(50,50,90,0.1),  0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.explo .contextmenu li {
  border-left: 3px solid transparent;
  transition: ease .2s;
}

.explo .contextmenu li a {
  display: block;
  padding: 10px;
  color: #B0BEC5;
  text-decoration: none;
  transition: ease .2s;
}

.explo .contextmenu li:hover {
  background: #CE9<a href="https://www.jqueryscript.net/tags.php?/3D/">3D</a>8;
  border-left: 3px solid #9C27B0;
}

.explo .contextmenu li:hover a { color: #FFFFFF; }