.qti-customInteraction .abeille{}
.qti-customInteraction .abeille .grador{
 background-image: url("img/bg.png");
        background-repeat: no-repeat;
    background-size: 160px 27px;
    padding: 0px;
    width: 170px;
    height: 30px;
    background-position-y: 1px;
}

