/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */
.nterre body{font-family: sans-serif;}

.nterre #nterrebg{height:400px;}

.nterre #filter5823{
color-interpolation-filters:sRGB}

.nterre #filter5823-8{
color-interpolation-filters:sRGB}

.nterre #opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686{
image-rendering:optimizeQuality}

.nterre #fond{
opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path4151-6{
opacity:1;fill:#e6ab84;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686;filter:url(#filter5823)}

.nterre #image5929{
opacity:0.747;fill:url(#pattern5893);fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686;filter:url(#filter5823-8)}

.nterre #opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686{
image-rendering:optimizeQuality}

.nterre #path5936{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5938{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5940{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5942{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5944{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5946{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5948{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5950{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5952{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5960{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5962{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5960-8{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5979{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #path5979-9{
opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.61999989;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.39215686}

.nterre #cmdajuster {
    background-color: grey;
    position: relative;
    margin-top: -32px;
    width: 900px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nterre #planetbox{
    margin-top: 60px;
}


.nterre #plantext{
    color:white;
    position: absolute;
    margin-top: -310px;
    margin-left: 724px;
}

.nterre #planetbox svg{
    position: absolute;
    margin-top: -300px;
    margin-left: 700px;
}

.nterre .param{
    text-align: center;
    width : 250px;
}

.nterre #gravitas{
    margin-left: 300px;
    margin-top:-85px;
    position: absolute;
    color : white;

}

.nterre #etoile{
    color:white;
    position: absolute;
    margin-top: -310px;
    margin-left: 120px;
}

/*.nterre  Rotation des roues */
@keyframes beat {
    0%{
        transform: scale(0.97,1);

    }
    50%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(0.97,1);

    }
}

@keyframes starbeat {
    0%{
        opacity: 0.4;

    }
    50%{
        opacity : 1;
    }
    100%{
        opacity : 0.4;

    }
}

@keyframes starbeato {
    0%{
        opacity: 1;.nterre 

    }
    50%{
        opacity : 0.5;
    }
    100%{
        opacity :1;

    }
}

/* @-webkit-keyframes tourn {
    from{
        -webkit-transform: rotate(0deg);

    }
    to{
        -webkit-transform: rotate(360deg);
    }
} */


/* #path4151-6{
    -moz-animation: tourn 100s ease infinite ;    
    -webkit-animation: tourn 100s ease infinite; 
     transform-origin: 50% ; } */

.nterre #sun{
    -moz-animation: beat 3s ease infinite ;    
    animation: beat 3s ease infinite;  }

.nterre #path5936{  
    -moz-animation: starbeato 10s ease infinite ;    
    animation: starbeato 10s ease infinite; }

.nterre #path5938{
    -moz-animation: starbeat 15s ease infinite ;    
    animation: starbeat 15s ease infinite;}

.nterre #path5942{
    -moz-animation: starbeato 20s ease infinite ;    
    animation: starbeato 20s ease infinite;}

.nterre #path5946{
    -moz-animation: starbeat 8s ease infinite ;    
    animation: starbeat 8s ease infinite;}

.nterre #path5960-8{
    -moz-animation: starbeato 20s ease infinite ;    
    animation: starbeato 20s ease infinite;}

#path5960{
    -moz-animation: starbeat 20s ease infinite ;    
    animation: starbeat 20s ease infinite;}

.qti-customInteraction .nterre{
    height: 570px;
    width:100%;
    padding:10px 20px 16px;
}

.qti-customInteraction .nterre ul.likert{
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
    display:inline-block;
    position: relative;
    top:7px;
}

.qti-customInteraction .nterre ul.likert li{
    float: left;
    text-align: left;
    list-style-type: none;
}

.qti-customInteraction .nterre ul.likert li input{margin: 0 3px; cursor: pointer;}

.qti-customInteraction .nterre .prompt {position:relative;}

.qti-customInteraction .nterre .likert-label {min-width:90px; color: #444;}
.qti-customInteraction .nterre .likert-label-min {text-align: right;}
.qti-customInteraction .nterre .likert-label-max {text-align: left;}