/*
Copyright DEPP © 2017 - Ministère de l'éducation nationale 
*/

/* Styling Cuisine */
.qti-customInteraction .cuisine .cuisineasw{
    display:none;
}

.qti-customInteraction .cuisine{
    height : 416px;
    background-image: url("img/cuisine.png");
    background-repeat: no-repeat;
}

.qti-customInteraction .cuisine .zoneBoiler{ 
    width : 200px;
    height : 200px;
    display:none;
    margin-left:286px;
}

.qti-customInteraction .cuisine .zoneBoiler img{
    max-width : 500px;
}

.qti-customInteraction .cuisine .boiler2{     
   position: absolute;
   margin-left : -500px;
   opacity : 0;
   -webkit-transition: opacity 1s;
   transition-delay: 2s;
}

.qti-customInteraction .cuisine .boiler1{     
   opacity : 1;
}

.qti-customInteraction .cuisine .boilertxt{
    font-weight: bold;
    position: relative;
    margin-top: -190px;
    margin-left: 196px;
    font-size: 24px;
}

.qti-customInteraction .cuisine .zonefeu{ 
    width : 200px;
    height : 200px;
    display:none;
    margin-left:400px;
    margin-top:168px;
    position:absolute; 
}

.qti-customInteraction .cuisine .zonefeu img{
    border : 1px white solid;
    margin-top : -20px;
    margin-left:0 px;
    display:none;
    position:relative;
    max-width : 400px;
}

.qti-customInteraction .cuisine .gazfeutxt{
    text-align: center;
    width: 250px;
    color : white;
    margin-top : -302px;
    
    display:none;
    position:relative;
    font-size: 24px;
}

.qti-customInteraction .cuisine .bt-boiler{
    margin-top: 240px;
    margin-left: 127px;
}

.qti-customInteraction .cuisine .bt-choco{
    margin-top: 240px;
    margin-left: 40px;
}

.qti-customInteraction .cuisine .bt-feu{
    margin-left: 24px;
    margin-top: 80px;
}

.qti-customInteraction .cuisine .bt-tartre{
    margin-top: 240px;
    margin-left: 255px;
}

.qti-customInteraction .cuisine .zonechocolat{ 
    display:none;
    margin-left: 500px;
}

.qti-customInteraction .cuisine .zonechocolat img{
    border : 1px white solid;
    margin-top : 30px;
    display:none;
    position:relative;
    max-width : 280px;
}

.qti-customInteraction .cuisine .choco1{margin-left:0px;}
.qti-customInteraction .cuisine .choco2{margin-left:-280px;}
.qti-customInteraction .cuisine .choco3{margin-left:-280px;}

.qti-customInteraction .cuisine .chocotxt{
    text-align: center;
    width: 250px;
    color : brown;
    top: -273px;
    left: 514px;
    display:none;
    position:relative;
    font-size: 24px;
}

.qti-customInteraction .cuisine .zonetartre{ 
    width : 350px;
    height : 317px;
    display:none;
}

.qti-customInteraction .cuisine .zonetartre img{
   margin-top: 50px;
   border : 1px white solid;
   display:none;
   max-width : 350px;
}

.qti-customInteraction .cuisine .tartre{
    margin-left:200px!important;
    display: inline!important; 
}

.qti-customInteraction .cuisine .tartre2{margin-left:-173px!important;}

.qti-customInteraction .cuisine .tartretxt{
   text-align: center;
   width: 250px;
   color : brown;
   margin-top :-315px;
   margin-left:250px;
   display:none;
   font-size: 24px;
}

.qti-customInteraction .cuisine .vinaigre{    
    border : none!important;
    width : 180px!important;
    margin-top : 0px!important;
    margin-left :-357px!important;
}

.qti-customInteraction .cuisine .bt{
    font-size: 12px!important;
    background-color: orange!important;
}