

/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.qti-item.runtime{
  /*position: block;
   margin-left: auto!important;
  margin-right: auto !important; */
}

.SnapForTao .prompt {position:relative;}

.SnapForTao{
    position : relative;
    margin-left: auto;
    margin-right : auto;
  }

.item-editor-item .SnapForTao {
  position: relative;
  margin-left: 0px !important;
}

.qti-itemBody {
	/* width : 1175px; */
}
  
.SnapForTao .snapy{
    overflow: scroll; 
  }

  .SnapForTao .snapy .world{
    outline: none; 
    border : 1px grey solid;
  }

.SnapForTao .snapy .bg_try_stop {
    width : 100% ; 
    height: 100% ; 
    background-Color:#DDD; 
    opacity: 1;
    padding:25%; 
    left:0px; 
    top:0px; 
    font-size: 20px; 
    position:absolute; 
   
  }

.SnapForTao .blockTracker{
  display : none;
}

.SnapForTao .snapy .txt_try_stop {
    width :100%; 
    height:100%; 
    padding:25%; 
    font-size:20px; 
    position:absolute; 
    left:0px; 
    top:0px; 
    opacity: 1; 
    color:#444444;
    text-align:center;
  }


.item-editor-item .SnapForTao .snapy .world{
   width :100% !important;
   height : 100% !important;
}



.SnapForTao .displayOverlay{
    position: absolute;
    width: 100%;
    height: 100%;    
    left:0px;
    top:0px;
    opacity: 0;
} 

/* Display Snap in full mode with overFlow option - different than authoring */
.qti-item.runtime .SnapForTao .snapy {
    overflow: visible;
  }

.qti-item.runtime .SnapForTao .snapy .world{
    border : 1px grey solid;
  }
  
  
.SnapForTao .compteur{
      display :none;
  }
  
.SnapForTao .scriptImporter{
    padding-left:   5px;
    padding-right:  5px;
}

#sidebar-right-interaction-properties .panel .parag{
    font-size : 0.85em ; 
    text-align: justify;
}

.txt_try_stop{
    color : white;
}
