/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */
@import url("base.css");
.qti-customInteraction .berthold {text-align: center;}
.qti-customInteraction .berthold .titre{
	text-align: center;
	font-size: 20px;
	font-style: bold;
}


.qti-customInteraction .berthold .cartes{
	margin-left: auto;
	margin-right: auto;
	width : 1000px;
}

.qti-customInteraction .berthold .slot{
	padding : 10px;
	border : 1px grey solid;
	margin : 5px;
	float : left;
	height: 300px;
	width : 323px;	
}


.nav1 {
    margin-top: 25px;
}
.nav2 {
    margin-top: 20px;
}
.titre2{
    color : darkorange;
    font-weight: bold;
    font-size: 1.3em;
}
.precedent1{}
.precedent2{}
.precedent3{}
.precedent1:disabled{opacity : 0.6;}
.precedent2:disabled{opacity : 0.6;}
.precedent3:disabled{opacity : 0.6;}

.suivant1{margin-left: 5px;}
.suivant2{margin-left: 5px;}
.suivant3{margin-left: 5px;}

.suivant1:disabled{opacity : 0.6;}
.suivant2:disabled{opacity : 0.6;}
.suivant3:disabled{opacity : 0.6;}

.polo{ width : 325px;}

.anima1{
	margin-top: -151px;
    width: 280px;
			transition: opacity 3s;
	-webkit-transition: opacity 3s;
	   -moz-transition: opacity 3s;

}
.anima3{
	
	opacity :0;
			transition: opacity 3s;
	-webkit-transition: opacity 3s;
	   -moz-transition: opacity 3s;
}
.anima4{	
	    margin-top: -165px;
			width : 295px!important;		
			transition: opacity 3s;
	-webkit-transition: opacity 3s;
	   -moz-transition: opacity 3s;
}
.anima5{
	opacity : 0;
	width: 295px;
    margin-top: -180px;			
	transition: opacity 3s;
	-webkit-transition: opacity 3s;
	   -moz-transition: opacity 3s;
}
.anima6{	
	opacity : 0;
			transition: opacity 3s;
	-webkit-transition: opacity 3s;
	   -moz-transition: opacity 3s;
}
.anima8{
	margin-top: -182px;
    margin-left: -12px;
			transition: opacity 3s;
	-webkit-transition: opacity 3s;
	   -moz-transition: opacity 3s;
}
.anima9{
	margin-top: -179px;
    margin-left: -8px;
	opacity : 0;
	transition: opacity 3s;
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;

}
.anima11{
	margin-top: -4px;
	opacity : 0;
		transition: opacity 3s;
	-webkit-transition: opacity 3s;
	   -moz-transition: opacity 3s;
}

/* .hidepolo{opacity :0;}
.showpolo{opacity:1;} */