/*
Copyright DEPP © 2017 - Ministère de l'éducation nationale 
*/

/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.qti-customInteraction .delor .deloransw {
    display: none;
}

.qti-customInteraction .delor {
    max-width: 950px;
    height: 550px;
}

.qti-customInteraction .delor .svghome {
    position: absolute;
}

.qti-customInteraction .delor svg {
    max-width: 950px;
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #165b75 42%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #165b75 42%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #165b75 42%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
}

.qti-customInteraction .delor .rect5659-1 {
    opacity: 0.95400002;
    fill: #00ffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1.04709113;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.qti-customInteraction .delor .rect5659-1-1 {
    display: none;
}

.qti-customInteraction .delor .deborde {
    display: none;
}

.qti-customInteraction .delor .catgod {
    width: 80px;
    cursor: pointer;
}

.qti-customInteraction .delor .tspan5974 {
    font-family: 'courrier';
}

.qti-customInteraction .delor .zonepese {
    position: relative;
    padding-left: 85px;
    margin-top: 151px;
    margin-left: 370px;
    width: 250px;
    height: 215px;
}

.qti-customInteraction .delor .zoneplonge {
    margin-left: 95px;
    position: relative;
    padding-left: 12px;
    width: 100px;
    height: 350px;
    padding-top: 157px;
    margin-top: -280px;
}

.qti-customInteraction .delor .zonesocle {
    position: relative;
    padding-top: 26px;
    opacity: 1;
    padding-left: 52px;
    margin-top: -262px;
    margin-left: 753px;
    width: 180px;
    height: 245px;
}

.qti-customInteraction .delor .image5962 {
    cursor: pointer;
}

.qti-customInteraction .delor .g5982 {
    cursor: pointer;
}



.qti-customInteraction .delor .modifeau {
    margin-left: 16px;
    text-align: center;
    width: 100px;
    margin-left: 13px;
}

.qti-customInteraction .delor .lecvol {
    font-family: 'arial';
    color: white;
    font-size: 1em;
    position: absolute;
    width: 300px;
    height: 20px;
    top: 140px;
    left: 250px;
}

.qti-customInteraction .delor .robi {
    padding: 5px;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 35px;
    margin-left: -22px;
}

.qti-customInteraction .delor .moins {
    margin-left: -85px;
    margin-top: 135px;
}

.qti-customInteraction .delor .plus {
    margin-top: -344px;
    margin-left: -73px;
}


/* Microsoft Edge Browser 12+ (All) - @supports method */

@supports (-ms-ime-align:auto) {
    .qti-customInteraction .delor .plus {
        margin-top: -360px;
        margin-left: -73px;
    }
}

.qti-customInteraction .delor .consigne {
    width: 300px;
    font-size: 14px;
    position: relative;
    left: 420px;
    color: orange;
    text-align: center;
    top: 55px;
}

.qti-customInteraction .delor .deborde {
    opacity: 1;
    fill: #c68989;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.88507509;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.qti-customInteraction .delor {
    width: 100%;
    padding: 10px 20px 16px;
}

.qti-customInteraction .delor .prompt {
    position: relative;
}

.qti-customInteraction .delor input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

.qti-customInteraction .delor input[type=range]:focus {
    outline: none;
}

.qti-customInteraction .delor input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
}

.qti-customInteraction .delor input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.qti-customInteraction .delor input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497E3;
}

.qti-customInteraction .delor input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
}

.qti-customInteraction .delor input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}

.qti-customInteraction .delor input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.qti-customInteraction .delor input[type=range]::-ms-fill-lower {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.qti-customInteraction .delor input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.qti-customInteraction .delor input[type=range]::-ms-thumb {
    margin: -5px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}

.qti-customInteraction .delor input[type=range]:focus::-ms-fill-lower {
    background: #2497E3;
}

.qti-customInteraction .delor input[type=range]:focus::-ms-fill-upper {
    background: #2497E3;
}


.qti-customInteraction .delor .vanne {
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: 150px!important;
    margin-left: -82px!important;
    width: 320px!important;
    cursor: pointer;
}