/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

#trainansw{display: none;}

.trainvache #container{
    border : 1px grey solid;
    width : 790px;
    overflow: hidden;
    float:left;
    
}

.trainvache{

}

.trainvache #coccifix{
    position: absolute;
    margin-top: 187px;
    left: 185px;
}

.trainvache #bg{

    height:445px;
}

.trainvache #bgnull{display:none;}

/* Rotation des roues */
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);

    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotating {
    from{
        -moz-transform: rotate(0deg);

    }
    to{
        -moz-transform: rotate(360deg);
    }
}

.trainvache .roue{
    position:absolute;
    margin-top:130px; 
    left: 129px;
}

.trainvache .rouego{
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  transform-origin: 50% ;  
}


.trainvache .train{
    position:absolute;
    margin-top:5px; }

.trainvache #convoi{
        margin-top: -447px;
}

/* Translation du train */
@keyframes gotrain {
    from{
       transform: translate(0px);
    }
    to{
       transform: translate(1000px);
    }
}

.trainvache .convoigo { animation: gotrain 15s linear ; 
-webkit-animation-fill-mode : forwards;
}


/* Translation de la vache */
@keyframes govache {
    from{
       transform: translate(0px);
    }
    to{
       transform: translate(-800px);
    }
}
.trainvache .vachego{animation: govache 15s linear ; 
-webkit-animation-fill-mode : forwards; 
}

.trainvache #rmzero{
display: none;
}

.trainvache #vtraj{
display: none;  
}

.trainvache #cctraj{
display: none;  
}

.trainvache #ptvvache{
    display:none;
    opacity: 0;
    margin-top:-54px;
}

.trainvache #ptvcc{
    display:none;
    opacity: 0;
    width: 110px;
    margin-top: 138px;
    margin-left: 138px;
}

.trainvache .cocci{
    width : 30px;
    display: none;      
    position:absolute;
}

.trainvache #cocciblue {
    margin-top: 182px;
    margin-left: 177px; }
.trainvache #coccired {
    margin-top: 182px;
    margin-left: 223px; 
}


.trainvache #premierplan{}


.trainvache .premplan{
    background-size: 100% 100%;
    background-position: 0px 0px;
    height : 445px;
    background-image: url("img/bgvide.png")!important;}

.trainvache #commande{
    float : left;
}



.trainvache .coccitab{
    margin:0px;
}

.trainvache #deuxcocci{

}

.trainvache td{ border-collapse: collapse;
    text-align: center;
    border : 1px grey solid;
    padding : 10px;

}


.trainvache #bellescoccis{width:150px;
cursor: pointer!important;
}

.trainvache #macrococci{width:75px;}

.trainvache #temp1{}
.trainvache #temp2{display:none;}
.trainvache #temp3{display:none;}




.trainvache .btlat{
    border-radius: 10px;
    cursor: pointer!important;
    padding:10px;
    text-align: center;
    background-color: #ffcc00;
    margin: 2px;
    border : 1px grey solid;
}

.trainvache .btlat img{ cursor: pointer!important;}

.trainvache .btlat:hover{
    background-color: #ffe254;
}

.trainvache #cmdlat{
    border : 1px grey solid;
    background-color:gainsboro;
    height :447px;
    margin-top: 0px;
    float : left;
    width : 190px;
}
.trainvache #cmdlat div{
    padding : 10px;
    margin : 10px;
}



.trainvache #armzero{
    display:none;
}

.trainvache #cache{
    display: none;
    top:8px;
    position : absolute;
    width : 200px;
    height: 170px;
    

}

#zeroid{
    width : 140px;
}

#cctrajimg{
    width:120px;
}


#armzeroimg{
      width : 140px;
}

#vtrajimg{
    width : 140px;
}


#traj{
    height: 446px;
}




.qti-customInteraction .likertScaleInteraction{
    width:100%;
    padding:10px 20px 16px;
}

.qti-customInteraction .likertScaleInteraction ul.likert{
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
    display:inline-block;
    position: relative;
    top:7px;
}

.qti-customInteraction .likertScaleInteraction ul.likert li{
    float: left;
    text-align: left;
    list-style-type: none;
}

.qti-customInteraction .likertScaleInteraction ul.likert li input{margin: 0 3px; cursor: pointer;}

.qti-customInteraction .likertScaleInteraction .prompt {position:relative;}

.qti-customInteraction .likertScaleInteraction .likert-label {min-width:90px; color: #444;}
.qti-customInteraction .likertScaleInteraction .likert-label-min {text-align: right;}
.qti-customInteraction .likertScaleInteraction .likert-label-max {text-align: left;}