/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */


#answforce{display:none;}

.qti-customInteraction .forcegravite{ height:530px; }

.forcegravite #svg2{position:relative;}

.forcegravite #container{
    background-color: none; 
    width : 900px;
}

.forcegravite .drop_in{
   /*  margin-top: 350px;
   margin-left :650px; */
}

.forcegravite .drop_hover{
    background-color: red;
    opacity : 0.2;
    width :50px;
    height:50px;
}

.forcegravite #planetes{
    margin-top: -351px;
    position:relative;
    width : 1000px;

}

.forcegravite #labo{
    background-color: #3465A0;
    max-width : 900px;
    height : 450px;
}

.forcegravite #consigne{
    height:10px;
    font-size: 1.2em;
    padding : 10px;
    text-align: center;
    color : white;
    background-color:black;
    width : 900px;
}
.forcegravite .etq{
    font-size: 26px!important;
    margin-left : 160px;
    margin-top: 160px;
    color : white;
}

.forcegravite #explic{
    text-align: center;
    color: white;
    margin-left: -450px;
    position: relative;
    display: block;
}

.forcegravite #etq_terre{  
}

.forcegravite #etq_lune{
    display: none;
}
.forcegravite #etq_mars{
    display: none;
}

.forcegravite #ong_espace{
    position: absolute;
}
.forcegravite #ong_terre{
    cursor: pointer;
    position: absolute;
}

.forcegravite #ong_lune{
    cursor: pointer;
    position: absolute;
}

.forcegravite #path4292{ /* fond onglet lune */
    display:none;
}

.forcegravite #ong_mars{
    cursor: pointer;
    position: absolute;
}

.forcegravite #meteorimg{
    display:none;
}

.forcegravite #meteor{
    margin-left:8px;
    background-image: url("img/meteor.png"); 
    background-size: 133px 103px;
    background-repeat: no-repeat;
    width : 130px;
    height : 115px;
}

.forcegravite .kg50{
    margin-top:-3px;
    margin-left:-5px;
}

.forcegravite #boitapoids{
    margin-top: -100px;
    margin-left : 530px;
}

.forcegravite #baldroitebas{
    display: none;
}

.forcegravite #image4252{
    cursor: pointer;
}

.forcegravite #balGauche{
   /*  background-color: red;  
   opacity: 0.5;*/
    position: relative; 
    padding-top: 46px;
    margin-left: 261px;
    margin-top: -190px;
    width: 310px;
    height: 230px;
   
}

.forcegravite .meteorbalfull{
    background-color: red;
}
 

.forcegravite #txtmass{
    display:none;
    margin-left : 91px;
    color : white;

}

.forcegravite #socle{
    /* opacity: 0.3;
    background-color: red; */
    padding-left: 20px;
    margin-left: 27px;
    margin-top: 86px;
    position:relative;
    width : 168px;
    height: 110px;
    
}

.forcegravite .poidsurBalance{
    float :left;
    position: absolute;
}


.forcegravite #boxweight{ 
    position: absolute;
    margin-top: -80px;
    margin-left : 500px;
 }

.forcegravite #poids40kg   { display:none;}


.forcegravite #dynamo{
    margin-top: -205px;
    /* background-color: red;
    opacity: 0.8; */
    margin-left: 724px;
    position: relative;
    width: 150px;
    height: 200px;
}

















.qti-customInteraction .likertScaleInteraction{
    width:100%;
    padding:10px 20px 16px;
}

.qti-customInteraction .likertScaleInteraction ul.likert{
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
    display:inline-block;
    position: relative;
    top:7px;
}

.qti-customInteraction .likertScaleInteraction ul.likert li{
    float: left;
    text-align: left;
    list-style-type: none;
}

.qti-customInteraction .likertScaleInteraction ul.likert li input{margin: 0 3px; cursor: pointer;}

.qti-customInteraction .likertScaleInteraction .prompt {position:relative;}

.qti-customInteraction .likertScaleInteraction .likert-label {min-width:90px; color: #444;}
.qti-customInteraction .likertScaleInteraction .likert-label-min {text-align: right;}
.qti-customInteraction .likertScaleInteraction .likert-label-max {text-align: left;}


/* SVG zone */
#path4268{fill:#3465a0;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1
 }

#path4292{opacity: 1; fill: rgb(123, 123, 123); fill-opacity: 1; stroke: none; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-opacity: 1; display: none; }

/* onglet lune */
#path4268-7 {
    display:none;
    fill: rgb(133, 78, 55); 
    fill-opacity: 1; 
    fill-rule: evenodd; 
    stroke: none; 
    stroke-width: 1px; 
    stroke-linecap: butt; 
    stroke-linejoin: miter; 
    stroke-opacity: 1;}
#tspan4516{font-size:20px;}
#tspan4365{font-size:15px;fill:#ffffff;}
#tspan4365-8{font-size:15px;fill:#ffffff;}
#tspan4365-8-1{font-size:15px;fill:#ffffff;}
#rect4229{opacity:1;fill:#ac9d93;fill-opacity:1;stroke:#030303;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}
#rect4733{opacity:1;fill:#689a5d;fill-opacity:1;stroke:#000000;stroke-width:1.12846708;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1
}
#rect4731{
    opacity:1;fill:#689a5d;fill-opacity:1;stroke:#000000;stroke-width:1.01118457;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;
}
#text5033{fill:#000;}
#tspan5035{font-size:22.5px; x:525;}
#rect5031{opacity:1;fill:#e15454;fill-opacity:1;stroke:none;stroke-width:12;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}
#path4518-8{fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4518{fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;}
#path4518-8-9{fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1; }
#path4518-3{fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;}


#stop5878{
stop-color:#a41313;stop-opacity:1;}

#stop5880{
stop-color:#a41313;stop-opacity:0;}

#pattern5826{
fill:black;stroke:none}

#base{
opacity:1;fill:#e3dbdb;fill-opacity:1;stroke:url(#pattern5829);stroke-width:0.99717534;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#bgsvg{
opacity:1;fill:#3465a0;fill-opacity:1;stroke:#000;stroke-width:1.98530543;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4152{
opacity:1;fill:#c68989;fill-opacity:1;stroke:none;stroke-width:4.88507509;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect5831{
opacity:1;fill:none;fill-opacity:0.39473685;stroke:none}

#rect4361{
opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#text5917{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#rect4227{
opacity:1;fill:#ac9d93;fill-opacity:1;stroke:#030303;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4231{
opacity:1;fill:#ac9d93;fill-opacity:1;stroke:#030303;stroke-width:0.80469382;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

/* #font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1{
opacity:1;fill:#2b0000;fill-opacity:1;stroke:#030303;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}
 */
#text4514{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

/* #opacity:1;fill:none;fill-opacity:1;stroke:#ff0000;stroke-width:2.14971924;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1{
font-size:20px} */

#rect4524{
opacity:1;fill:none;fill-opacity:1;stroke:#ff0000;stroke-width:2.14971924;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none}

#path4536-9{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536-7{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536-9-8{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536-7-4{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536-7-4-7{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536-7-4-7-8{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536-5{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:1.05108094;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536-7-3{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:1.05108094;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536-9-8-8{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:1.05108094;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536-7-4-2{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:1.05108094;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4536-7-4-7-2{
fill:none;fill-rule:evenodd;stroke:#ff0000;stroke-width:1.05108094;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#text4655{
font-style:normal;font-weight:normal;font-size:12.95737934px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

/* #font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;{
fill:#ffffff}
 */
#text4659{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;}

#text4659-8{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;}

#text4659-8-6{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;}

#text4659-8-69{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;}

#text4659-8-3{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;}

#text4659-8-8{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;}

#bt_terre{image-rendering:optimizeQuality}

#text4363{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#ong_lune{
font-size:15px;fill:#ffffff}

#bt_lune{
opacity:1;fill:#7b7b7b;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

/* #font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1{
image-rendering:optimizeQuality}
 */
#text4363-7{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#ong_mars{
font-size:15px;fill:#ffffff}

#bt_mars{
fill:#854e37;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1{
image-rendering:optimizeQuality}

#text4363-7-3{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#poids40kg{
font-size:15px;fill:#ffffff}

#path5037{
opacity:1;fill:#e15454;fill-opacity:1;stroke:none;stroke-width:12;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#text5033{
opacity:1;fill:#000;fill-opacity:1;stroke:none;stroke-width:12;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#font-size:22.5px{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}


#balgauche{
opacity:1;fill:#689a5d;fill-opacity:1;stroke:#000000;stroke-width:1.01118457;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#fill:#689a5d;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1{
opacity:1;fill:#ff0000;fill-opacity:0;stroke:#120e00;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4509{
fill:#689a5d;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#rect4528{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:0.75040525;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4526{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4536{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1.47838283;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4534{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4532{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4530{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:0.76425678;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4532-6{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4530-6-9{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:0.74882096;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4532-6-6-7{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:0.81647331;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4714{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1.17739105;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4714-5{
opacity:1;fill:#5b6358;fill-opacity:1;stroke:#000000;stroke-width:1.28703403;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4662{
opacity:1;fill:#5b6358;fill-opacity:1;stroke:#000000;stroke-width:1.28703403;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#balgauche-1{
opacity:1;fill:#689a5d;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

/* #fill:#689a5d;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1{
opacity:1;fill:#ff0000;fill-opacity:0;stroke:#120e00;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1} */

#path4509-4{
fill:#689a5d;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#rect4528-4{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:0.75040525;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4526-8{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4536-2{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1.47838283;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4534-9{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4532-61{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4530-3{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:0.76425678;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4532-6-3{
opacity:1;fill:#9fe491;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4735{
opacity:1;fill:#689a5d;fill-opacity:1;stroke:#000000;stroke-width:1.12846708;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4741{
opacity:1;fill:#689a5d;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4743{
fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#path4741-9{
fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#path4741-9-0{
fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

/* #font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1{
fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1} */

#text5884{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#g4729-7{
fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4725-6{
fill:none;fill-rule:evenodd;stroke:#00e9ff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4727-0{
opacity:1;fill:#241c1c;fill-opacity:1;stroke:#00e9ff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

/* #font-size:20px;fill:#ffffff;fill-opacity:1{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1} */

#tspan5407{
font-size:20px;fill:#ffffff;fill-opacity:1}

#g4729-7-5{
fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4725-6-8{
fill:none;fill-rule:evenodd;stroke:#00e9ff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4727-0-2{
opacity:1;fill:#241c1c;fill-opacity:1;stroke:#00e9ff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#font-size:20px;fill:#ffffff;fill-opacity:1{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#tspan5423{
font-size:20px;fill:#ffffff;fill-opacity:1}

#g4729{
fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4725{
fill:none;fill-rule:evenodd;stroke:#00e9ff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4727{
opacity:1;fill:#241c1c;fill-opacity:1;stroke:#00e9ff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

/* #font-size:20px;fill:#ffffff;fill-opacity:1{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}
 */
#tspan5439{
font-size:20px;fill:#ffffff;fill-opacity:1}

#g4729-2{
fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#path4725-4{
fill:none;fill-rule:evenodd;stroke:#00e9ff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#rect4727-2{
opacity:1;fill:#241c1c;fill-opacity:1;stroke:#00e9ff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1}

#font-size:20px;fill:#ffffff;fill-opacity:1{
font-style:normal;font-weight:normal;font-size:7.5px;line-height:112.99999952%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1}

#tspan5457{
font-size:20px;fill:#ffffff;fill-opacity:1}

